:root {
    --hoehe: clamp(650px, 80vh, 1000px);
    --breite: clamp(500px, 45%, 1000px);
    scroll-behavior: smooth;
}
* {
    scroll-behavior: smooth;

}

@media only screen and (max-width: 550px) {
    :root {
        --breite: clamp(350px, 45%, 1000px);
    }
}

@media only screen and (max-width: 1000px) {
    #hauptteil {
        height: calc(var(--hoehe)*2);
    }
}

body {
    background-image: url("https://live.staticflickr.com/3058/2702829744_7e5362be4b_b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    margin: 0;

}

#startbild {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startbild p {
    padding: 5px 50px;
    border-radius: 2px;
    font-size: 40px;
    background-color: rgba(240, 248, 255, 0.445)
}

#hauptteil {
    margin: 0 15px;
    /*height: var(--hoehe);*/
    height: calc(var(--hoehe)+0px);
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#kartenTeil {
    float: right;
    width: var(--breite);
    height: var(--hoehe);

    margin-bottom: 20px;
    /*width: 55%;*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

#map {
    height: var(--hoehe);
    width: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

#infoblock {
    height: var(--hoehe);
    width: var(--breite);

    float: left;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

#infoblock::-webkit-scrollbar {
    width: 0px;
}


@keyframes hoch {
    0% {
        transform: height(0);
    }

    100% {
        transform: height(auto);
    }
}

.block {
    padding: 10px 7px;

    background-color: rgba(226, 226, 226, 0.87);
    border-top: 2px solid rgb(85, 85, 85);
    border-bottom: 2px solid rgb(85, 85, 85);

    display: flex;
    align-items: center;

}

.block .titel {
    font-weight: bold;
    font-size: 16pt;
}

.block .inhalt {
    max-height: 200px;
    font-size: 12pt;
    overflow: hidden;
    /*animation: hoch 5s linear 2s infinite;*/
    transition: all 1.5s ease-in-out 0s;
}

.block .inhalt:hover {
    cursor: pointer;
}

.block .inhalt.klopfklopf {
    max-height: 1000px;
}

.block img {
    width: 200px;
    margin-left: 9px;

}

button {
    margin: 7px 15px;
}




#unterteil {
    width: 100%;
    height: clamp(50px, 8vh, 350px);
    background-color: #282a35;
    margin: 20px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#unterteil p {
    font-size: 14pt;
    color: #dddddd;
}




/*Musikplatte*/

#platte {
    height: 30px;
    animation: none;
}

#platte:hover {
    animation: none;
}

@keyframes dreh {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}